.mySwiper .swiper-wrapper {
  margin-bottom: 2rem;
}

.mySwiper .swiper-pagination {
  position: relative;
  top: 0;
}

.mySwiper .swiper-pagination-bullet {
  opacity: 1;
  width: 1rem;
  height: 1rem;
  background: var(--color-gray-50);
  transition: all 0.3s ease-in-out;
}

.mySwiper .swiper-pagination-bullet:hover {
  background: var(--color-dark-slate-58);
}

.mySwiper .swiper-pagination-bullet-active {
  background: var(--color-dark-slate-84) !important;
  opacity: 1 !important;
}
