.mySwiper .swiper-wrapper {
  margin-bottom: 2rem;
}

.mySwiper .swiper-pagination {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.mySwiper .swiper-pagination-bullet {
  margin: 0 !important;
  opacity: 1;
  width: 1rem;
  height: 1rem;
  background: var(--color-gray-50);
  transition: all 0.3s ease-in-out;
}

.mySwiper .swiper-pagination-bullet:hover {
  background: var(--color-dark-slate-58);
}

.mySwiper .swiper-pagination-bullet-active {
  background: var(--color-dark-slate-84) !important;
  opacity: 1 !important;
  width: 1.25rem;
  height: 1.25rem;
}
