@import 'tailwindcss';

@theme {
  --color-black-82: rgb(0 0 0 / 82%);
  --color-white-80: rgb(212 215 217);

  --color-slate-14: rgb(248 248 248 / 14%);
  --color-slate-40: rgb(248 248 248 / 40%);
  --color-slate-50: rgb(248 248 248 / 50%);

  --color-gray-400: rgb(128 137 144);
  --color-gray-50: rgb(128 137 144 / 50%);

  --color-dark-slate-700: rgb(41 55 67);
  --color-dark-slate-800: rgb(39 54 66);
  --color-dark-slate-900: rgb(35 50 62);
  --color-dark-slate-84: rgb(39 54 66 / 84%);
  --color-dark-slate-58: rgb(36 51 63 / 58%);

  --color-zinc-400: rgb(126 126 126);
  --color-zinc-950: rgb(24 24 23);

  --color-red: rgb(255 69 69 / 81%);
  --color-green: rgb(9 163 9);

  --background-image-gradient-dark-slate: linear-gradient(
    180deg,
    rgb(35 50 62) 0%,
    rgb(45 59 70) 100%
  );
  --background-image-gradient-dark-slate-80: linear-gradient(
    rgb(35 50 62 / 80%),
    rgb(35 50 62 / 80%)
  );
  --background-image-header:
    var(--background-image-gradient-dark-slate-80), url('/images/herosection-home-bg.webp');

  --radius-12: 3rem;

  --shadow-3xl: 4px 4px 5px rgb(0 0 0 / 40%);

  --breakpoint-xs: 23.4375rem;
  --breakpoint-lgx: 62rem;
  --breakpoint-6xl: 80rem;

  --container-6xl: 1192px;
}

@layer base {
  body {
    font-family: var(--font-mulish), system-ui, sans-serif;
  }
}

@layer utilities {
  @keyframes enable-scroll {
    to {
      overflow-y: auto;
    }
  }

  .animate-enable-scroll {
    animation: enable-scroll 0s forwards;
    animation-delay: 0.3s;
  }

  .dropdown-scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .dropdown-scrollbar::-webkit-scrollbar-track {
    background: var(--color-dark-slate-800);
    border-radius: 0 0.25rem 0.25rem 0;
  }

  .dropdown-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-slate-14);
    border-radius: 0.25rem;
  }
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
